* {
  margin: 0px;
  font-size: 15px;
  font-family: "Alata", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  border: 0px solid red;
  width: 100%;
  margin: auto;
  height: auto;
}

header {
  border: 0px solid green;
  width: 100%;
  height: 80vh;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: url(https://drive.google.com/uc?export=view&id=1HhRwJjvV02FH_ZTRhZwhkUHOnL722462);
}
.hemburgericon {
  border: 0px solid green;
  margin-left: 10px;
  display: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.navbar {
  border: 0px solid red;
  display: flex;
  width: 90%;
  margin: 30px auto;
  justify-content: space-between;
}
.details {
  border: 0px solid green;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}
.loopstudio {
  border: 0px solid yellow;
  width: 50%;
  padding: 10px;
  color: white;
}
.impresbox {
  height: 50px;
  width: 150px;
  margin: 50px 0px 0px 30px;
  border: 1px solid whitesmoke;
  color: white;
  padding: 20px;
}
.topsection {
  width: 90%;
  margin: 30px auto;
}
.imagediv img {
  width: 100%;
  display: block;
  border: 0px solid red;
  margin: auto;
}
.creationDiv {
  border: 0px solid yellow;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  height: auto;
}
.ourcreations {
  display: flex;
  justify-content: space-between;
  border: 0px solid blue;
}
.ourcreations button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.midsection {
  border: 0px solid yellow;
  width: 100%;

  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.midsection > div > img {
  object-fit: cover;
  border: 0px solid blue;
  width: 100%;
}
.child1 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1IT_pq16jNRSsn85SysXIAmZPFUu3Qvtk);
}
.child1 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child2 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1U2AMFlxKxzt6f_WBTclFZIcC8QURTdun);
}
.child2 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child3 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1gJk9fM19d-NnIg5C342vVdk5Vi1zCPRG);
}
.child3 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child4 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1G_7VFm2jRwxh0NAhb9JgxdVRNA6k2xUy);
}
.child4 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child5 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1YnuVW6n8TIsliOKLH-8EmR7vWQGktXj1);
}
.child5 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child6 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1Dsx6AOi-FKf1SnVGJoc0dQq90BBHgUDz);
}
.child6 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child7 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1NrrdIIlELuX5vvzGKAmkDfk1Zl0x0SjM);
}
.child7 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.child8 {
  background-size: cover;

  background-image: url(https://drive.google.com/uc?export=view&id=1FEH7C-h-tyz9mci8p15aLdu358GN9pgU);
}
.child8 > p {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}
.footerStudio {
  border: 0px solid yellow;
  color: white;
  padding: 5px;
  margin-left: 40px;
}
.information {
  color: white;
  border: 0px solid blue;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  margin-left: 40px;
}
.footer {
  background-color: black;
  width: 100%;
  margin: auto;
}
.footersection1 {
  border: 0px solid red;
  width: 50%;
  margin-left: 20px;
}

/* <--------------------for mobile csreen----------> */
@media screen and (min-width: 100px) and (max-width: 375px) {
  header {
    border: 2px solid green;
    width: 100%;
    height: 80vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
  }

  .hemburgericon {
    border: 0px solid green;
    margin-left: 10px;

    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .navbar {
    border: 0px solid red;
    display: none;
    width: 90%;
    margin: 30px auto;
    justify-content: space-between;
  }
  .navbar div {
    border: 0px solid red;
    display: block;
    width: 90%;
    margin: 30px auto;
    justify-content: space-between;
  }
  .midsection {
    border: 0px solid yellow;
    width: 100%;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
